body {
    margin: 0;
    background: #6a5acd;
    height: 100vh;
}

.container {
    background: #4b0082;
    /* height: 100%; */
    width: 80%;
    margin: 0 auto;
    /* padding-bottom: 10px; */
    padding-top: 40px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    height: 103px;
}

.navigationList {
    display: flex;
    list-style: none;
    font-size: 20px;
    margin: 0 0 0 50px;
    /* margin: 0; */
    padding: 0;
    background: #E6E6FA;
}

.navigation-list-item {
    /* padding: 40px 0 0 0; */
}

a:hover,
.exit:hover {
    background: #9370db;
    color: #000;
}

.exit {
    padding: 40px;
    background: #483d8b;
    color: #fff;
    font-size: 20px;
    margin-right: 50px;
}

a {
    padding: 40px;
    display: block;
    text-decoration: none;
    color: rgb(87, 86, 86);
}

.navigation .active a:hover {
    background: #9370db;
}

.navigation .active a {
    color: #000;
    background: #fff;
}

.navigation-content {
    display: none;
}

.navigation-content.active {
    padding: 20px;
    display: block;
    background: #fff;
    margin: 0 50px 50px 50px;
    overflow: auto;
    /* min-height: calc(100% - 103px); */
    /* height: 80vh; */
}

.table-head {
    background: #BCEBDD;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    padding: 10px;
}

.cell {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    background: #F8E391;
    padding: 10px 20px;
}

.go-up {
    border: none;
    background: #4682B4;
    padding: 10px;
    color: #fff;
    margin-top: 10px;
}

.go-up:active {
    background: #5F9EA0;
}

.go-up:hover {
    background: #000;
    color: #fff;
}